/*Custom Styles*/
.blog-post .title {
    font-weight: bold !important;
    font-size: 1.5rem !important;
    color: #777;	
}

.display-6 {
    font-size:  1.7rem !important;
    font-weight: 450 !important;
    line-height: 1 !important;
	margin-top: 30px !important;
    color: #777;	
	}
	
.display-5 {
    font-size:  1.4rem !important;
    font-weight: 450 !important;
    line-height: 1.2 !important;
	margin-top: 40px !important;
    color: #777;	
	}

.display-4 {
    font-size:  .9rem !important;
    font-weight: 350 !important;
    line-height: 1.2 !important;
	    color: #777;
	}		