/*Custom Styles*/
ul.nav li a, ul.nav li a:visited {
    color: #777 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #000 !important;
}

ul.nav li.active a {
    color: #777 !important;
}

a {
    color: #777;
}
a:hover {
    color: #F61
}

.blog-post .title {
    font-weight: bold !important;
    font-size: 1.5rem !important;
    color: #777;	
}

.display-7 {
    font-size:  1.4rem !important;
    font-weight: 550 !important;
    line-height: 1.2 !important;
    color: #777;	
	}

.display-6 {
    font-size:  1.4rem !important;
    font-weight: 550 !important;
    line-height: 1.2 !important;
	margin-top: 30px !important;
    color: #777;	
	}
	
.display-5 {
    font-size:  1.2rem !important;
    font-weight: 450 !important;
    line-height: 1.2 !important;
	margin-top: 30px !important;
    color: #777;	
	}

.display-4 {
    font-size:  1.1rem !important;
    font-weight: 550 !important;
    line-height: 1.2 !important;
	    color: #777;
	}
